body {
    margin: auto 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.container{
    width: 80vw;
    height: 60vh;
    background-color: whitesmoke;
    margin: 0px;
    padding: 0;
    border-radius: 2em;
}

div.profile{
    margin: 0px;
    padding: 0px;
    display: flex;
}

div.container nav ul li a.borda:hover{
    border-radius: 2em 0em 0em 0em;
}

/* NAV */
nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

nav ul {
    margin: 0;
    padding: 0;
    
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    padding: 1em;
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #cccccc;
}

/* Main -> Image */
div.about {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

div.about img{
    width: 15em;
    border-radius: 100em;
    margin-right: 1em;
}

/* FOOTER */
div.container footer {
    text-align: center;
    margin-top: auto;
}

footer span{
    display: block;
    margin-bottom: 0.5em;
}