body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url(../assents/background.png);
    background-color: #161616;
}

body div.container{
    width: 80vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 2em;
    padding: 0 0.5em 0 0.5em;
}

/* NAV */
nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

nav ul {
    margin: 0;
    padding: 0;
    
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    padding: 1em;
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #cccccc;
}

/* Profile */
body div.container div.about div.profile{
    display: flex;
    padding: 0.25em;
}

body div.container div.about div.profile img{
    width: 15em;
    border-radius: 100em;
    margin-right: 1em;
}